<div class="image">
    <img src="../../assets/3.jpg" style= " position: absolute; z-index:-1; top: 0; bottom: 0; width: 100%;height: 50%; overflow: hidden;">
  
</div>
<div class="vehicle-container">
  <h3>WE RENT FULLY-OUTFITTED OVERLAND VEHICLES FOR UNBOUNDED ADVENTURE</h3>
  <p>On the hunt for the perfect camp-ready rental? Whether you're hoping to visit picturesque valleys or explore the interiors of Northeast India, our vehicles are perfectly equipped to provide the ideal platform for adventurous travelers.</p>
  <p>WE USE ONLY THE HIGHEST QUALITY VEHICLES AND EQUIPMENT TO ENSURE COMFORT AND SAFETY.</p>
  <p>Our rentals come fully-equipped with all the needed camping gear and complimentary itinerary planning, so you can focus on enjoying your trip and not get overwhelmed by logistics. Aside from our list of included items below, we are able to provide a range of add-ons, from ground tents and sleeping bags, to cooking and cutlery so please feel free to ask.</p>
  <p style="font-weight:500;">Pick your adventure mobile:</p>
  <div class="row">
    <div class="column">
      <img class="car img1"  src="../../assets/9.jpeg">
      <h4>Thar 4x4</h4>
    </div>
    <div class="column">
      <img class="car img2" src="../../assets/10.jpg">
      <h4>Time Machine - Xenon XT</h4>
    </div>
  </div>
  <br>
  <p>Pricing (Internal) :</p>
  <ul>
    <li>Sleeping Bags - 99/bag/day</li>
    <li>BBQ Grill - 59/day</li>
    <li>Ground tents - 99/day</li>
    <li>Camp table & Chairs - 99/day</li>
    <li>Cooking & Plating wares - 59/day</li>
    <li>Charcoal & Kerosene for cooking - 49</li>
    <li>Bicycle - 149/day</li>
    <li>Additional Equipment available upon request (1-3 Adventurers)</li>
  </ul>
  <p>Packages :</p>
  <ul>
    <li>2 day trip - 499/day</li>
    <li>3 day - 399/day</li>
    <li>4 day - 299/day</li>
    <li>5 day - 250/day</li>
    <li>7+day - 2000  flat</li>
  </ul>
  <br>
  <br>
  <br>



</div>
