<div class="image">
  <img src="../../assets/5.jpg" style= " position: absolute; z-index:-1; top: 0; bottom: 0; width: 100%;height: 50%; overflow: hidden;">
</div>
<div class="about-container container">
  <h3>Who are we?</h3>
  <p>Welcome to The Camping Company. We are the creators and believers of an alternate way of exploring the world. Camping co. is India's first self drive over-lander expedition venture.</p>
  <p>We rent SUVs and Pickups, equipped with luxury roof-top tents and everything you need for an overland adventure.</p>
  <p>​We aim to create a community of thinkers, doers and avid nature - adventure lovers. </p>
  <p>Located in Guwahati, Assam, we are the gateway to some of the best camping sites, trekking trails, waterfalls, national parks, forests and river islands of North East India.</p>
  <p> Camping Amenities: </p>

      <ul>
          <li> Rooftop tent for 3 Adventurers </li>
          <li> Sleeping Bags </li>
          <li> BBQ Grill</li>
          <li> Ground tents</li>
          <li> Camp table and Chairs </li>
          <li> Cooking and Plating wares</li>
          <li> Charcoal and Kerosene for cooking</li>
          <li> Additional Equipment available upon request</li>
      </ul>
    <br>
    <br>
  
</div>
