<header>
    <nav class="navbar navbar-expand-lg navbar-inverse">
        <a class="navbar-brand" href="#">CampingCompany</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Destintions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vehicles</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Register</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item check ">
                    <a class= "nav-link" href="#"><span class="ca"> Check Availability </span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>