@import 'variables';

.navbar {
    padding: 20px;
    margin-bottom: 40px;
 
    .navbar-brand {
      margin-right: 30px;
      font-size: 30px;
      letter-spacing: 8px;
      color:$main-color;
      font-weight: 500;
      font-family: sans-serif;
    }
  
  
    .nav-item{
      font-size: 17px;
      font-weight: 420;
      margin-left: 30px;
      
         
      
      .nav-link {
        color:$main-color;
        pointer-events: auto;
        
      }
    }
  }

  .check {
    background-color: rgba(0,0,0,0);
    border: 2px solid white;
    height: auto;
    border-radius: 100px;
  
  }
  .check:hover{
    background-color: white;
    .ca{
      color: black;
     }
  }
