<cc-header></cc-header>
<section class= "search-container">
    <div id= "claim-video" class= "claim-video" style= "position:relative">
      <div>
        <video autoplay loop oncanplay="this.muted=true" style="margin: auto; position: absolute; z-index: -1; top: 50%; left: 50%; transform: translate(-50%, -50%); visibility: visible; width: 1265.33px; height: auto;">
          <source src="../../assets/video.mp4" type="video/MP4">
        </video>
      </div>
      <h2 style="position: relative; color: white; top: 100px; left: 320px; font-family: sans-serif; letter-spacing: 8px;">BOOK YOUR DREAM VACATION</h2>
      <h6 style="position: relative; color: white; top: 100px; left: 350px; font-family: sans-serif; letter-spacing: 5px">GET READY FOR AN UNFORGETTABLE EXPERIENCE</h6>
      <form id="bookingDate" style= "position: absolute; left: 350px; top: 200px; color: white">
        <div class="form-group" style="position:absolute; left: 10px; width:200px">
          <label for="startDate">Start-Date</label>
          <input type="text" id= "startDate" bsDatepicker class = "form-control" placeholder="Start-Date"/>
        </div>
        <div class="form-group" style="position:absolute; left: 220px; width: 200px">
          <label for="endDate">End-Date</label>
          <input type="text" id= "endDate"  bsDatepicker class = "form-control" placeholder="End-Date"/>
        </div>
        <button style= " position: absolute ; width: 150px; height: 40px; top: 31px; left: 430px; border-radius: 5px">Book Now</button>
      </form>
         
      </div>
</section>
