<cc-header></cc-header>
<section class= "search-container">
  <div id= "claim-video" class= "claim-video" style= "position:relative">

    <video class= "video" autoplay loop oncanplay="this.muted=true" style="margin: auto; position: absolute; z-index: -1; top: 50%; left: 50%; transform: translate(-50%, -50%); visibility: visible; width:100%; height: auto;">
      <source src="../../assets/video.mp4" type="video/MP4">
    </video> 
    <h5 class= "h5">Experience camping in the best and most comfortable way.</h5>

  </div>
</section>

<div class= "container" style= "position:relative; top: 400px;"> 
  <h2 class= "h2">BOOK YOUR DREAM VACATION</h2>
  <p>Located in Shillong & Guwahati, we are the gateway to some of the best camping sites, trekking trails and waterfalls this side of the world has to offer. Start in Guwahati and head wherever your imagination takes you! We will also help you with planning of your trip.</p>
  <div class= "detailDiv" style= " width: 500px; float: left">
    <p><strong>The space:</strong></p>      
    <ul>
        <li>1. SUV equipped with luxury Roof Top Tent </li>
        <li>2. Barbeque grill, charcoal. </li>
        <li> 3. Camping chairs*, Cutlery*, Fishing equipment*,cycle*</li>
        <p style= "color: black">*available on request with a small fee.</p>
    </ul>
  </div>
  <div class= "bookingDiv" style= "width: 450px; float: right; border:1px solid grey; border-radius: 3px;">
    <p><strong>Rs. 2999</strong>per night</p>
    <form class="bookingData">
        <div class=" form form-group name">
            <label for="name">Name</label>
            <input type="text" id= "name" class = "form-control" placeholder="Name"/>
        </div>
        <div class=" form form-group address">
            <label for="address">Address</label>
            <input type="text" id= "address" class = "form-control" placeholder="Address"/>
        </div>
        <div class=" form form-group email">
            <label for="email">Email</label>
            <input type="text" id= "email" class = "form-control" placeholder="Email"/>
        </div>
        <div class=" form form-group phone">
            <label for="phone">Phone</label>
            <input type="text" id= "phone" class = "form-control" placeholder="Phone"/>
        </div>
        <div class=" form form-group startDate">
          <label for="startDate">Start-Date</label>
          <input type="text" id= "startDate" bsDatepicker class = "form-control" placeholder="Start-Date"/>
        </div>
        <div class="form form-group endDate">
          <label for="endDate">End-Date</label>
          <input type="text" id= "endDate"  bsDatepicker class = "form-control" placeholder="End-Date"/>
        </div>
        <button type= "submit" class= "bookNow form-group">Book Now</button>
    </form>
  </div>        
</div>

